<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 links-1">
        <ul class="list-inline">
          <li>
            <a href="mailto:info@tomwilsonproperties.com">
            <span aria-hidden="true" class="fa fa-envelope-o"></span>
            info@tomwilsonproperties.com
            </a>
          </li>
          <li><span class="fa fa-phone"></span>408-867-1867</li>
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12 text-right">
        <ul class="list-inline">
          <li>
          <a href="http://www.tomwilsonproperties.com" target="_blank">
            <span class="fa fa-globe"></span>
            www.tomwilsonproperties.com
            </a>
          </li>
          <li><span class="fa fa-map-marker"></span>Saratoga, CA</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
